{
    "env":{
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },

    "extends": ["airbnb", "airbnb/hooks"],

    "parser": "babel-eslint",

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "plugins": ["jsx-a11y", "react", "react-hooks"],

    "rules": {
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": ["error", "never"],
        "import/no-unresolved": 0,
        "import/order": 0,
        "import/prefer-default-export": 0,
        "indent": [2, 4],
        "linebreak-style": "off",
        "no-else-return": ["error", { "allowElseIf": true}],
        "no-shadow": "off",
        "object-curly-newline": "off",

        "react/button-has-type": "off",
        "react/jsx-closing-bracket-location": [2, "after-props"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-fragments": ["off"],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": [2, { "ignore": ["children"] }]
    }
}
