@import 'assets/styles/variables';

.headerDetails {
    height: 550px;
}

.buttonTop {
    color: $red-color;
    background: transparent;
    font-size: 20px;
    margin-right: 16px;
    padding: 8px 8px;
}

.container {
    min-height: 550px;
    background-color: $background-color;
}
