@import 'assets/styles/variables';

.header {
    height: 400px;
    width: 100%;
    display: flex;

    &:before {
        content: "";
        position: absolute;
        height: inherit;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
        background-image: url('assets/images/movies-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right top;
        filter: blur(0.75px);
    }
}

.overlay {
    content: "";
    position: absolute;
    height: inherit;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.65);
}

.topSection {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}

.addMovieButton {
    color: $red-color;
    padding: 8px 8px;
    background-color: rgba($color: $gray-light-color, $alpha: 0.3);
}

.mainSection {
    width: 70%;
    margin: 100px auto 0 auto;
}
