@import 'assets/styles/variables';

.container {
    width: 90%;
    margin: 0 auto;
}

.mainContent {
    padding-bottom: 20px;
    background-color: $background-color;
}
.movieCount {
    padding: 20px 0;
}

.movieCountLabel {
    color: $white-color;
}
