@import 'assets/styles/variables';

.inputContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.inputLabel {
    color: $red-color;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}

.inputField {
    background-color: rgba($color: $gray-light-color, $alpha: 0.9);
    border: none;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px $gray-color;
    color: $white-color;
    display: block;
    height: 25px;
    padding: 5px;
    width: 100%;
}
