@import './variables';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-weight: 500;
  min-height: 100%;
  font-family: Arial, sans-serif;
}

input:focus,
button:focus {
  outline: none;
}
